<div class="riskNav">
 
   
<ul class="nav nav-tabs " id="myTab" role="tablist">
  
  <li class="nav-item col " [class.activebtn]="viewMode == 'tab1'">
    <a (click)="viewMode ='tab1';"  class="nav-link" aria-current="page"  >Pre assignment</a>
  </li>
 
  <li class="nav-item col" [class.activebtn]="viewMode == 'tab2'" >
    <a (click)="viewMode ='tab2';" class="nav-link">Draft</a>
  </li>
  <li class="nav-item col" [class.activebtn]="viewMode == 'tab3'">
    <a (click)="viewMode ='tab3';"  class="nav-link" >Assess</a>
  </li>
  <li class="nav-item col" [class.activebtn]="viewMode == 'tab4'">
    <a class="nav-link" (click)="viewMode ='tab4';" >Respond</a>
  </li>
  <li class="nav-item col" [class.activebtn]="viewMode == 'tab5'">
    <a class="nav-link" (click)="viewMode ='tab5';" >Review</a>
  </li>
  <li class="nav-item col" [class.activebtn]="viewMode == 'tab6'">
    <a class="nav-link" (click)="viewMode ='tab6';" >Monitor</a>
  </li>
  <li class="nav-item col" [class.activebtn]="viewMode == 'tab7'">
    <a class="nav-link" (click)="viewMode ='tab7';" >Closed</a>
  </li>
  
</ul>

<div [ngSwitch]="viewMode" >
  <div  id="tab1" *ngSwitchCase="'tab1'" >
    <h3>Pre assignment tab</h3>
  </div>
  <div  id="tab2" *ngSwitchCase="'tab2'"  >
    <h3>Draft tab</h3>
  </div>
  <div  id="tab3" *ngSwitchCase="'tab3'">
    <h3>Assess tab</h3>
  </div>
  <div  id="tab4" *ngSwitchCase="'tab4'">
    <h3>Respond tab</h3>
  </div>
  <div  id="tab5" *ngSwitchCase="'tab5'">
    <h3>Review tab</h3>
  </div>
  <div  id="tab6" *ngSwitchCase="'tab6'" >
    <h3>Monitor tab</h3>
  </div>
  <div  id="tab7" *ngSwitchCase="'tab7'">
    <h3>Closed tab</h3>
  </div>
 

</div>


</div>
